@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityUser>

<h1>User List</h1>
<br />
<table class="table table-striped" id="userTable">
    <thead>
        <tr>
            <th>
                User
            </th>
            <th>
                Email
            </th>
            <th style="width:10%">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
      <tr>
                <td>
                    <div class="row">
                        <div class="col-sm">
                            <a>
                               
                            </a>
                            <br>
                            <small>
                           
                            </small>
                        </div>
                    </div>
                </td>
                <td>
                    <a>
                       
                    </a>
                </td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Action
                        </button>
                        <div class="dropdown-menu shadow animated--grow-in">
                            <a style='margin-right:16px' asp-controller="userroles" asp-action="Index" asp-route-userId="" class="dropdown-item">
                                <i class="fas fa-wrench"></i> Manage Roles
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
        
    </tbody>
</table>